<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\Temp\Log\SouthStar.Vehsch.Api\internal-nlog.txt">

  <!-- enable asp.net core and mongodb layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <variable name="myvar" value="myvalue"/>
  <!--internal-nlog:NLog启动及加载config信息-->
  <!--nlog-all:所有日志记录信息-->
  <!--nlog-own:自定义日志记录信息-->

  <!-- the targets to write to -->
  <targets>

    <target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File" name="Fatal" fileName="${basedir}/log/fatal/${shortdate}.log"
                  layout="${longdate}||${level}||${logger}||${message}||${exception:format=ToString:innerFormat=ToString:maxInnerExceptionLevel=10:separator=\r\n}||${aspnet-request-url}||${aspnet-mvc-action}||${machinename}||${aspnet-request-ip}||end" />
    </target>
    <target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File" name="Error" fileName="${basedir}/log/error/${shortdate}.log"
              layout="${longdate}||${level}||${logger}||${message}||${exception:format=ToString:innerFormat=ToString:maxInnerExceptionLevel=10:separator=\r\n}||${aspnet-request-url}||${aspnet-mvc-action}||${machinename}||${aspnet-request-ip}||end" />
    </target>
    <target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File" name="Warning" fileName="${basedir}/log/warning/${shortdate}.log"
              layout="${longdate}||${level}||${logger}||${message}||${exception:format=ToString:innerFormat=ToString:maxInnerExceptionLevel=10:separator=\r\n}||${aspnet-request-url}||${aspnet-mvc-action}||${machinename}||${aspnet-request-ip}||end" />
    </target>
    <target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File" name="Information" fileName="${basedir}/log/information/${shortdate}.log"
              layout="${longdate}||${level}||${logger}||${message}||${exception:format=ToString:innerFormat=ToString:maxInnerExceptionLevel=10:separator=\r\n}||${aspnet-request-url}||${aspnet-mvc-action}||${machinename}||${aspnet-request-ip}||end" />
    </target>
    <target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File" name="DbCommandLog" fileName="${basedir}/log/dbcommand/${shortdate}.log"
             layout="${longdate}||${level}||${logger}||${message}||${exception:format=ToString:innerFormat=ToString:maxInnerExceptionLevel=10:separator=\r\n}||${aspnet-request-url}||${aspnet-mvc-action}||${machinename}||${aspnet-request-ip}||end" />
    </target>

    <!-- write log to mongodb
    <target xsi:type="Mongo"
            name="mongo" databaseName="test"
            collectionName="Logs"
            connectionString="mongodb://localhost/Logging"
            cappedCollectionSize="26214400">
      <property name="LongDate" layout="${longdate}" bsonType="DateTime" />
      <property name="Level" layout="${level}" />
      <property name="Logger" layout="${logger}"/>
      <property name="Message" layout="${message}" />
      <property name="Exception" layout="${exception:format=tostring}" />
      <property name="Url" layout="${aspnet-request-url}" />
      <property name="Action" layout="${aspnet-mvc-action}" />
      <property name="UserName" layout="${windows-identity}" />
    </target>-->

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="Microsoft.EntityFrameworkCore.Database.*" minlevel="Trace" writeTo="DbCommandLog" />

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <!--<logger name="Microsoft.*" maxLevel="Info" final="true" />-->
    <!-- BlackHole without writeTo -->
    <!--<logger name="*" minlevel="Trace" writeTo="ownFile-web" />-->

    <!--Add logs to mongodb-->
    <!-- <logger name="*" minlevel="Trace" writeTo="mongo"/>-->


    <!--Add Info logs to File-->
    <logger name="*" minlevel="Info" maxLevel="Info" writeTo="Information"/>

    <!--Add Warn logs to File-->
    <logger name="*" minlevel="Warn" maxLevel="Warn" writeTo="Warning"/>

    <!--Add Error logs to File-->
    <logger name="*" minlevel="Error" maxLevel="Error" writeTo="Error"/>

    <!--Add Fatal logs to File-->
    <logger name="*" minlevel="Fatal" maxLevel="Fatal" writeTo="Fatal"/>

    <!--<logger name="Microsoft.EntityFrameworkCore.Database.Command" minlevel="Debug" writeTo="file" />-->
  </rules>
</nlog>
